/* 
label: Brutalist
value: brutalist 
*/

:root[data-theme-preset="brutalist"] {
  --radius: 0px;
  --card: #C6C4AC;
  --card-foreground: #4A4A4A;
  --popover: #F0EAD5;
  --popover-foreground: #4A4A4A;
  --primary: #8B2E2E;
  --primary-foreground: #F0EAD5;
  --secondary: #BDAC94;
  --secondary-foreground: #4A4A4A;
  --muted: #F0EAD5;
  --muted-foreground: #4A4A4A;
  --accent: #49233A;
  --accent-foreground: #F0EAD5;
  --destructive: #8B2E2E;
  --border: #4A4A4A;
  --input: #C6C4AC;
  --ring: #8B2E2E;
  --chart-1: #8B2E2E;
  --chart-2: #49233A;
  --chart-3: #BDAC94;
  --chart-4: #C6C4AC;
  --chart-5: #4A4A4A;
  --sidebar: #F0EAD5;
  --sidebar-foreground: #4A4A4A;
  --sidebar-primary: #8B2E2E;
  --sidebar-primary-foreground: #F0EAD5;
  --sidebar-accent: #49233A;
  --sidebar-accent-foreground: #F0EAD5;
  --sidebar-border: #4A4A4A;
  --sidebar-ring: #8B2E2E;
  --background: #F0EAD5;
  --foreground: #4A4A4A;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
}

.dark:root[data-theme-preset="brutalist"] {
  --background: #4A4A4A;
  --foreground: #F0EAD5;
  --card: #49233A;
  --card-foreground: #F0EAD5;
  --popover: #49233A;
  --popover-foreground: #F0EAD5;
  --primary: #8B2E2E;
  --primary-foreground: #F0EAD5;
  --secondary: #BDAC94;
  --secondary-foreground: #4A4A4A;
  --muted: #4A4A4A;
  --muted-foreground: #F0EAD5;
  --accent: #49233A;
  --accent-foreground: #F0EAD5;
  --destructive: #8B2E2E;
  --border: #F0EAD5;
  --input: #49233A;
  --ring: #8B2E2E;
  --chart-1: #8B2E2E;
  --chart-2: #49233A;
  --chart-3: #BDAC94;
  --chart-4: #C6C4AC;
  --chart-5: #F0EAD5;
  --sidebar: #4A4A4A;
  --sidebar-foreground: #F0EAD5;
  --sidebar-primary: #8B2E2E;
  --sidebar-primary-foreground: #F0EAD5;
  --sidebar-accent: #49233A;
  --sidebar-accent-foreground: #F0EAD5;
  --sidebar-border: #F0EAD5;
  --sidebar-ring: #8B2E2E;
  --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
  --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
  --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 1px 2px -1px hsl(0 0% 0% / 0.5);
  --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 2px 4px -1px hsl(0 0% 0% / 0.5);
  --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 4px 6px -1px hsl(0 0% 0% / 0.5);
  --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 0.5), 4px 8px 10px -1px hsl(0 0% 0% / 0.5);
  --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 0.25);
}
